body {
    font-family: 'Tahoma';
    background-color: #ffffff;
}

.content {
    @media (min-width: 1400px) {
        margin-left: 270px !important;
    }
    padding-top: 10px;
}

.about-content {
    @media (min-width: 1400px) {
        margin-left: 270px !important;
    }
    padding-top: 10px;
} 

#sidebar {
    width: 270px;
    background: #1d1a1a;
    color: #fff;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    position: fixed;
    height: 100vh;
    z-index: 9;
}

#sidebar.active {
    margin-left: -270px
}

#sidebar.active .custom-menu {
    margin-right: -50px
}

@media(max-width: 1400px) {
#sidebar {
    margin-left:-270px
}

#sidebar.active {
    margin-left: 0
}

#sidebar .custom-menu {
    margin-right: -60px!important;
    bottom: 10px!important
}
}
@media(min-width: 1400px) {
#sidebar .custom-menu {
    display: none !important;
}
}

#sidebar .nav-item a.nav-link> {
    padding: 10px 0;
    display: block;
    color: rgba(255,255,255,.6);
    border-bottom: 1px solid rgba(255,255,255,.1)
}

#sidebar .nav-item a.nav-link:hover:not(.active) {
    background-color: #fff;
    color: #1d1a1a !important;
}
#sidebar .nav-item a.nav-link.active {
    background-color: #0076BA;
    color: #fff;
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

@media(prefers-reduced-motion:reduce) {
#sidebar .custom-menu {
    -webkit-transition: none;
    -o-transition: none;
    transition: none
}
}

#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;  /* Adjust the icon size */
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger-icon {
    color: white;  /* Set the hamburger icon color to white */
}

#sidebar .custom-menu .btn.btn-primary {
    background: #0bc675;
    border-color: #0bc675;
}

#sidebar .custom-menu .btn.btn-primary:hover {
    background: #0076BA!important;
    border-color: #0076BA!important
}

/* Custom CSS for the Banner */

.alt-text {
    position: absolute;
    color: black;
    left: 20px;
    text-align: left;
}
